:root {
    --black: #0F0F0F;
    --dark-grey: #222222;
    --light-grey-1: #272727;    /*  hover */
    --light-grey-2: #303030;    /*  border*/  
    --light-grey-3: #3D3D3D;    /*  hover actived / hover click */
    --light-grey-4: #505050;    /*  hover actived click*/  
    --scroll-color: #717171;
    --white: #ffffff;
}

body {
    /* background-color: var(--black); */
    color: white;
    font-family: "Roboto", sans-serif;
}

.icon-button {
    background-color: var(--black);
    border: none;
    border-radius: 99px;
    width: 40px;
    height: 40px;
}

.icon-button:hover {
    background-color: var(--dark-grey);
}

.icon-button i {
    color: var(--white);
    font-size: 1.2rem;
}

/* ============ Header ============ */

header {
    height: 56px;
    padding-inline: 16px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---- Left ---- */

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container .logo {
    display: flex;
    align-items: center;
    padding: 18px 16px;
}

.logo-container .logo img {
    display: block;
    height: 20px;
}

.logo-container .logo p {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Oswald", "Roboto", sans-serif;
}

/* ---- Center ---- */

.search-container {
    display: flex;
    gap: 14px;
}

.search-container form {
    display: flex;
}

/* !!!!====== PERLU DIPERBAIKI =====!!!! */
/* ketika input diklik, tidak ada border pada input & inner-search-border, muncul border pada outer-search-border */
/* solusi: gunakan javascript */

.outer-search-border {
    display: flex;
    align-items: center;
    border: 1px solid #00579C;
    border-radius: 20px 0px 0px 20px;
    /* unfocus */
    border: none;

}

.outer-search-border i {
    margin-left: 16px;
    margin-right: -5px;
    /* unfocus */
    display: none;
}

.inner-search-border {
    border: 1px solid #303030;
    border-radius: 20px 0px 0px 20px;
    padding-inline: 16px 4px;
}

.inner-search-border input {
    width: 351px;
    height: 38px;
    background-color: var(--black);
    border: none;
}

.search-form button {
    background-color: var(--dark-grey);
    width: 64px;
    padding-inline: 6px;
    border-radius: 0px 20px 20px 0px;
    border-top: 1px solid var(--light-grey-2);
    border-bottom: 1px solid var(--light-grey-2);
    border-right: 1px solid var(--light-grey-2);
}

.voice-button {
    background-color: var(--dark-grey);
}

/* ---- Center ---- */

.right-buttons-container {
    display: flex;
    gap: 10px;
}

.right-buttons-container button:last-child {
    padding-inline: 6px;
}


/* ============ Main ============ */