:root {
    --black: #0F0F0F;
    --dark-grey: #222222;
    --light-grey-1: #272727;    /*  hover */
    --light-grey-2: #303030;    /*  border*/  
    --light-grey-3: #3D3D3D;    /*  hover actived / hover click */
    --light-grey-4: #505050;    /*  hover actived click*/  
    --scroll-color: #717171;
    --grey-text-color: #AAAAAA;
    --white-text-color: #F1F1F1;
    --white: #ffffff;
}

body {
    /* background-color: var(--black); */
    color: white;
    font-family: "Roboto", sans-serif;
}

.icon-button {
    background-color: var(--black);
    border: none;
    border-radius: 99px;
    width: 40px;
    height: 40px;
}

.icon-button:hover {
    background-color: var(--dark-grey);
}

.icon-button i {
    color: var(--white);
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}


/* ============ Header ============ */

header {
    height: 56px;
    padding-inline: 16px;
    background-color: var(--black);
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---- Left ---- */

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container .logo {
    display: flex;
    align-items: center;
    padding: 18px 16px;
}

.logo-container .logo img {
    display: block;
    height: 20px;
}

.logo-container .logo p {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Oswald", "Roboto", sans-serif;
}

/* ---- Center ---- */

.search-container {
    display: flex;
    gap: 14px;
}

.search-container form {
    display: flex;
}

.outer-search-border {
    display: flex;
    align-items: center;
    border: 1px solid #00579C;
    border-radius: 20px 0px 0px 20px;
    /* unfocus */
    border: none;

}

.outer-search-border i {
    margin-left: 16px;
    margin-right: -5px;
    /* unfocus */
    display: none;
}

.inner-search-border {
    border: 1px solid #303030;
    border-radius: 20px 0px 0px 20px;
    padding-inline: 16px 4px;
}

.inner-search-border input {
    width: 351px;
    height: 38px;
    background-color: var(--black);
    border: none;
}

.search-form button {
    background-color: var(--dark-grey);
    width: 64px;
    padding-inline: 6px;
    border-radius: 0px 20px 20px 0px;
    border-top: 1px solid var(--light-grey-2);
    border-bottom: 1px solid var(--light-grey-2);
    border-right: 1px solid var(--light-grey-2);
}

.voice-button {
    background-color: var(--dark-grey);
}

/* ---- Center ---- */

.right-buttons-container {
    display: flex;
    gap: 10px;
}

.right-buttons-container button:last-child {
    padding-inline: 6px;
}


/* ============ Main ============ */

/* ============ nav-content ============ */
/* ---- large-nav-content ---- */

.large-nav-content {
    width: 229px;
    height: 100vh;
    background-color: var(--black);
    position: fixed;
    top: 0;
}

/* .large-nav-content {
    z-index: -99;
} */

.nav-content {
    max-height: calc(100% - 60px);
    overflow-y: scroll;
}

.large-nav-content nav {
    padding: 16px;
}

.large-nav-content nav:nth-child(n+2) {
    border-bottom: 0.5px solid var(--light-grey-2);
}

.large-nav-content li {
    list-style-type: none;
    padding-inline: 12px;
}

.large-nav-content a {
    height: 40px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.large-nav-content h3,
.large-nav-content p,
.large-nav-content a {
    color: var(--white-text-color);
}

.large-nav-content .icon-nav {
    width: 24px;
    height: 24px;
}

.large-nav-content svg {
    fill: var(--white);
}

.large-nav-content img {
    width: 24px;
    border-radius: 50%;
}

.large-nav-content p {
    margin: 0;
    font-size: 0.9rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.user-nav li:first-child {
    border-top: 0.5px solid var(--light-grey-2);
    padding-top: 12px;
}

footer .links-footer {
    padding: 16px 24px 0px;
}

footer .links-footer a {
    display: inline;
    margin-right: 8px;
    color: var(--grey-text-color);
    font-size: 0.8rem;
}

footer .copyrigth {
    padding: 16px 24px;
}

footer .copyrigth p{
    color: var(--light-grey-4);
    font-size: 0.75rem;
    font-weight: 400;
}

/* logo-container like left side header */
.large-nav-content .logo-container img {
    width: 28.39px;
    border-radius: 0;
}
.large-nav-content .logo-container {
    padding-inline: 16px;
}