* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    /* ====color==== */
    --orange: #f45d48;
    --green: #078080;
    --light-green-1: #399999;
    --light-green-2: #6ab3b3;
    --light-green-3: #cde6e6;
    --black: #222525;
    --white: #fffffe;
    --white-orange-1: #f8f5f2;
    --white-orange-2: #FEEFE8;
    /* text color */
    --light-color-text: var(--white);
    --dark-color-text: var(--black);
    --text-color-heading-footer: var(--orange);
    /* bg color */
    --bg-color-body: var(--orange);
    --bg-color-heading: var(--white);
    --bg-color-menu: var(--white-orange-2);
    --bg-color-content: var(--white-orange-2);
    --bg-color-input: var(--white);
    --bg-color-focus-input: var(--white-orange-1);
    --bg-color-footer: var(--white-orange-2);
    /* button color */
    --color-menu-button: var(--orange);
    --color-hover-menu-button: var(--light-green-3);
    --color-active-menu-button: var(--green);
    
    /* ====size==== */
    --height-heading: 60px;
    --width-menu: 70px;
    --height-footer: 50px;
}

body {
    background-color: var(--bg-color-body);
}

.primary-button, .neutral-button {
    padding: 7px;
    font-weight: bold;
    border-radius: 8px;
}

.primary-button {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}

.primary-button:hover {
    background-color: var(--green);
    color: var(--white);
}

.neutral-button {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}

.neutral-button:hover {
    background-color: var(--orange);
    color: var(--white);
}

/* ================ note-app__header ================ */
.note-app__header {
    background-color: var(--bg-color-heading);
    width: 100vw;
    height: var(--height-heading);
    padding: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    z-index: 50;
    border-bottom: 5px solid var(--bg-color-body);
    /* border-bottom: 5px solid var(--orange); */
}

.note-app__header h2 {
    color: var(--text-color-heading-footer);
    /* text-decoration: underline; */
}

.note-app__header h2 span {
    margin-right: 5px;
    border-bottom: 1px solid var(--text-color-heading-footer);

}

.note-app__header h2 .icon-componenet {
    fill: var(--text-color-heading-footer);
    /* width: 26px; */
    position: relative;
    right: 7px;
    top: 6px
}


/* ================ note-app__menu ================ */
.note-app__menu {
    position: fixed;
    /* background-color: var(--white-orange-2note-app__menu); */
    background-color: var(--bg-color-menu);
    width: var(--width-menu);
    height: calc(100vh - var(--height-heading) - var(--height-footer));
    top: var(--height-heading);
    padding: 20px;
    border-right: 2px solid var(--text-color-heading-footer);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note-app__menu__button {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--color-menu-button);
    margin-bottom: 20px;
    width: 26px;
    height: 26px;
    margin-inline: auto;
}

.note-app__menu__button i:hover {
    color: var(--color-hover-menu-button);
}

.note-app__menu__button svg:hover {
    fill: var(--color-hover-menu-button);
}

.note-app__menu__button i:active {
    color: var(--color-active-menu-button);
}

.note-app__menu__button svg:active {
    fill: var(--color-active-menu-button);
}

.note-app__menu__button i {
    display: block !important;
}

.note-app__menu__button svg {
    width: 26px;
    fill: var(--color-menu-button);
}

/* 

.note-app__menu__button[datatitle]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}

.note-app__menu__button[datatitle]:after {
    content: attr(datatitle);
    background-color: var(--color-active-menu-button);
    color: var(--white);
    font-size: 0.8rem;
    text-wrap: nowrap;
    position: relative;
    z-index: 100;
    left: 30px;
    bottom: 13px;
    padding: 3px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
}

.note-app__menu__button:first-child[datatitle]:after {
    bottom: 20px;
}
*/

/* ================ note-app__content ================ */
.note-app__content {
    width: calc(100vw - var(--width-menu));
    /* min-height: calc(100vh - var(--height-heading)); */
    height: calc(100vh - var(--height-heading) - var(--height-footer));
    /* height: fit-content; */
    background-color: var(--bg-color-content);
    position: fixed;
    top: var(--height-heading);
    left: var(--width-menu);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* z-index: 1; */
    padding: 50px;

}

.note-app__content {
    padding: 50px;
}

/* .note-app__content > div { */
    /* overflow-y: auto; */
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: chartreuse; */
/* } */

.note-app__content h3 {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

/* ================ note-app__content writing-area ================ */

.note-input  {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.note-input__text-areas {
    order: 1;
    background-color: var(--bg-color-input);
}

.note-input__title input{
    font-size: 1.2rem;
    font-weight: bold;
}

.note-input__title p{
    font-size: 0.8rem;
    display: block;
    padding: 0px 10px 10px;
    opacity: 0;
}

.note-input__content textarea{
    font-size: 1rem;
    /* font-family: "Quicksand", sans-serif; */
    resize: none;
    /* height = 100vh - height heading - border bottom heading - padding content - height h3 - margin botton h3 - height input text - margin bottom input text */
    height: 300px;
}

.note-input__title input,
.note-input__content textarea {
    border: none;
    background-color: var(--bg-color-input);
    padding: 10px;
    /* width: calc(100vw - var(--width-menu) - 60px); */
    width: 100%;

}

.note-input__title input:hover,
.note-input__content textarea:hover {
    background-color: var(--bg-color-focus-input);

}

.note-input__title input:focus,
.note-input__content textarea:focus {
    border: none;
    outline: none;
}

.note-input button {
    align-self: start;
    order: 0;
    margin-right: 10px;
    /* font-family: "Quicksand", sans-serif; */
}




/* ================ note-content__list-area ================ */
/* ================ note-content__archive-area ================ */

.note-content__list-area,
.note-content__archive-area,
.note-content__search-area {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.notes-list {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    /* background-color: chartreuse; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 40px;
}

.note-item {
    /* width: 300px; */
    height: 350px;
    background-color: var(--green);
    border: 1px solid #f45d48;
}


/* ================ note-content__search-area ================ */

/* .note-content__search-area */

.note-content__search-input {
    margin-bottom: 20px;
}

.note-content__search-result {
    width: 100%;
    height: calc(100% - 107px);
    /* height: 100%; */
    display: flex;
    gap: 100px;
    /* padding-bottom: 20px; */
}

.note-content__search-result > * {
    flex: 1 1 0;

}

.note-content__search-result h4 {
    margin-bottom: 20px;
    text-align: center;
}

.note-content__search-result .notes-list {
    overflow-y: auto;
    /* background-color: black; */
    /* grid-template-columns: 1fr 1fr !important; */
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
    /* width: fit-content; */
}

.note-content__search-input input,
.note-content__search-input button {
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid var(--black);
}

.note-content__search-input input {
    background-color: var(--white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
}

.note-content__search-input input:focus {
    outline: none;
}

.note-content__search-input button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    background-color: var(--orange);
    color: var(--white);
}

.note-content__search-input button:hover {
    background-color: var(--green);
}


/* test note-app__content */
.note-content__writing-area,
.note-content__list-area,
.note-content__archive-area {
    display: none;
}





/* ================ note-app__footer ================ */

.note-app__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color-footer);
    height: var(--height-footer);
    /* width: calc(100vw - var(--width-menu)); */
    width: 100vw;
    color: var(--text-color-heading-footer);
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    border-top: 5px solid var(--bg-color-body);
}

.note-app__footer a {
    color: var(--text-color-heading-footer);
    text-decoration: none;
}





/*
z-index
.note-app__header : 50
.note-app__menu__button[title]:after    : 100 ???
*/